body {
    margin: 0;
    overflow: hidden;
    background: #70c5ce;
    font-family: Arial, sans-serif;
}

/* Character Select */
#charSelect {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    text-align: center;
    padding-top: 50px;
    color: white;
}

#charContainer img {
    width: 120px;
    margin: 20px;
    cursor: pointer;
    transition: 0.3s;
}
#charContainer img:hover {
    transform: scale(1.2);
}

#gameCanvas {
    display: none;
}
