body {
    margin: 0;
    overflow: hidden;
    background: #70c5ce;
    font-family: Arial, sans-serif;
}

/* Character Select */
#charSelect {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    color: white;
    text-align: center;
}

#charSelect h1 {
    margin-top: 40px;
    font-size: 35px;
}

.chars {
    margin-top: 40px;
}

.char {
    width: 120px;
    margin: 20px;
    cursor: pointer;
    transition: 0.25s;
}

.char:hover {
    transform: scale(1.2);
}

#gameCanvas {
    display: none;
}
