body {
    margin: 0;
    overflow: hidden;
    background: black;
    font-family: Arial, sans-serif;
}

/* Character Selection */
#charSelect {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000d;
    color: white;
    text-align: center;
    padding-top: 40px;
    z-index: 10;
}

#charContainer {
    margin-top: 40px;
}

#charContainer img {
    width: 140px;
    margin: 20px;
    cursor: pointer;
    transition: 0.2s;
}

#charContainer img:hover {
    transform: scale(1.15);
}

#gameCanvas {
    display: none;
    width: 100vw;
    height: 100vh;
}
